body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  outline: none;

  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
